.play_button_container {
  background: #65D36E;
  min-width: 60px;
  min-height: 60px;
  color: black;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba($color: #000, $alpha: 0.25);
}