.nav_button_container {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 500;
  min-width: 230px;
  cursor: pointer;
  transition: opacity 100ms ease-in-out;

  &:hover {
    opacity: 1 !important;
  }
}